DJANGO_SECRET_KEY=4306fc6654d783813cc6f2ad601a6a05c89c551e
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
APP_ENV=dev
PORT=8000

MONGODB_URI=mongodb+srv://root:root@cluster0.spmgpnf.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=ecored_circular_db

CORS_ALLOWED_ORIGINS=http://localhost:5173

FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json