# =============================================================
# Django — se mantienen igual que en el backend original
# =============================================================
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# =============================================================
# CORS — igual que antes
# =============================================================
CORS_ALLOWED_ORIGINS=http://localhost:5173


MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=market_materials

